useDynLib(GraphCpClust, .registration=TRUE)
importFrom(Rcpp, evalCpp)

export(CpBeeCell)
export(CpCOVID)
export(Distance.data_cell_bee)
export(Distance.data_covid)
export(Hpath_cell_bee)
export(Hpath_covid)
export(PathClust)
export(SimulationData)
export(SimulationPlot)
export(path.kruskal_cell_bee)
export(path.kruskal_covid)
import(dplyr,except=c("combine","union","as_data_frame","groups"))
import(ggplot2)
import(grid)
import(gridExtra)
import(igraph,except="crossing")
import(stringr)
import(tidyr)

importFrom("grDevices", "rainbow")
importFrom("graphics", "legend", "lines", "par", "points", "text")
importFrom("stats", "dnorm", "fitted", "lm", "nls", "nls.control",
          "pnorm", "rnorm", "var")
